<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h2>
        Revita: AI for Language Learning
      </h2>
    </header>
    <p>
      A novel AI-based approach for language learning <i>toward advanced mastery</i>.
      <br/>
      <i>Personalization</i> is key — tailor practice sessions to the learner's
      interests and current skills.
      <br/>
      Personalization is achieved via:
      <ul>
        <li/>Authentic content — practice based on arbitrary content, which the learner chooses.
        <li/>Continual assessment.
      </ul>
    </p>
    
    <span style="margin: 0 0 1em 4em; ">
      View introductory video (7 min):
    </span>
    <!--
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i>Explainable and trustworthy AI for global threat detection</i>
    <br/>
    -->
    <span class="image object">
      <a target="_blank" href="https://helsinkifi-my.sharepoint.com/:v:/g/personal/yangarbe_ad_helsinki_fi/EQFNDAY_MXZJkP2_yzOyuFsBdVTCyDep-uOi9YuRHCuybA?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=U7hO24"><img src="assets/images/revita.png" alt="" /></a>
    </span>
    <ul>
      <li>Go to → <a href="revita.cs.helsinki.fi" target="_blank" class="button big">the Revita Language Learning Platform</a></li>
    </ul>
  </div>
</section>
