<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>
        Know-AI
      </h1>
      <p>
        What do language models know and when do they know it:
        <br/>
        <i>Explainable and trustworthy AI for global threat detection</i>
      </p>
      <span class="image object">
        <img src="assets/images/workflow.jpg" alt="" />
      </span>
    </header>
    <!--    
            <ul>
              <li><a href="#" class="button big">Learn More</a></li>
            </ul>
            -->
  </div>
</section>
