<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h2>
        Revita: AI for Language Learning
      </h2>
    </header>
      <p>
        View a <a target="_blank" href="https://helsinkifi-my.sharepoint.com/:v:/g/personal/yangarbe_ad_helsinki_fi/EQFNDAY_MXZJkP2_yzOyuFsBdVTCyDep-uOi9YuRHCuybA?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=U7hO24">short introductory video</a>
        <br/>
        <!--
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i>Explainable and trustworthy AI for global threat detection</i>
        <br/>
        -->
        <br/>
      </p>
      <span class="image object">
        <img src="assets/images/revita.png" alt="" />
      </span>
    <!--    
            <ul>
              <li><a href="#" class="button big">Learn More</a></li>
            </ul>
            -->
  </div>
</section>
