<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Contents</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Home</a></li>
            <li><a href="{{ 'faq-LEARNER-TOC.html' | absolute_url }}">FAQ for Learners</a></li>
            <li><a href="{{ 'faq-TEACHER-TOC.html' | absolute_url }}">FAQ for Teachers</a></li>
            <!--

                <li><a href="{{ 'description.html' | absolute_url}}">Description</a></li>

            <li><a href="{{ 'help.html' | absolute_url }}">Help</a></li>
            <li><a href="{{ 'research.html' | absolute_url }}">Research</a></li>

            -->
            <li><a href="{{ 'publications.html' | absolute_url }}">Publications</a></li>
            <li><a href="{{ 'people.html' | absolute_url }}">People</a></li>
            <li><a href="{{ 'Press.html' | absolute_url }}">In the Press</a></li>
          </ul>
        </nav>


      <!-- Section -->
        <section>
          <header class="major">
            <h4>Contact</h4>
          </header>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
          </ul>
        </section>

    </div>
  </div>
